 <div class="row">
        <div class="col-md-4">
               <div id="userdiv">
                    <ul>
                        <li ng-repeat="user in users">{{user.data}}</li>
                    </ul>
               </div>
        </div>
        <div class="col-md-8">
            <div id="chatWrap">
                    <p ng-repeat="msg in msgs track by $index"><span>{{msg.user}}</span>: {{msg.data}}</p>
            </div>
            <form>
                <label>Enter Message:</label>
                    <textarea class="form-control" ng-model="msg.text" rows="3"></textarea>
                    <br>
                    <button class="btn btn-primary" ng-click="sendMsg()">Send Message</button>
            </form>
        </div>
    </div>
  
  </div>