<div class="container" ng-controller="ChatCtrl">
    <div id="userFormArea" class="row">
        <div class="col-md-12">
            <form id="userForm">
                <div class="form-group">
                    <label>Enter usernmae:</label>
                    <input class="form-control" ng-model="user.username" id="username"/>
                    <br>
                    <button class="btn btn-primary" ng-click="createUser()">New User</button>
                </div>
            </form>
        </div>
</div>